@charset "UTF-8";
/* basic color */
/*to 980px center*/
.global-center {
  margin-left: auto;
  margin-right: auto; }

/*for ie6/7*/
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.wrapper {
  display: flex;
  flex-direction: column; }

/* 重置body背景色 */
body {
  background: white; }

.greeting {
  margin-left: 11%; }

.common-header {
  overflow: hidden;
  width: 100%;
  font-size: 14px; }
  .common-header a {
    text-decoration: none; }

.common-header-list {
  float: right;
  margin-right: 50px; }

.common-header-aside {
  float: right;
  margin-right: 120px; }
  .common-header-aside li:hover {
    border-radius: 4px; }

/* 隐藏companyId */
#companyId {
  display: none; }

/* 退出标签 */
.signout {
  color: #337ab7;
  cursor: pointer; }

.common-header-bar {
  margin-left: 0;
  background: #F9F9F9;
  width: 100%;
  height: 32px; }
  .common-header-bar span {
    text-decoration: none;
    line-height: 32px; }

.common-header-main {
  margin-left: 5%;
  width: 85%;
  background: white; }
  .common-header-main .logo-img {
    width: 30%;
    margin-left: 8%; }
    .common-header-main .logo-img img {
      width: 150px;
      height: 150px; }

.common-header-search {
  margin-top: 3%;
  margin-left: 10%;
  width: 50%;
  color: black;
  font-size: 16px; }
  .common-header-search select {
    height: 48px;
    width: 15%;
    border: 1px solid #c7c7c7;
    border-radius: 1px; }
    .common-header-search select option {
      display: block; }
  .common-header-search input {
    height: 48px;
    width: 50%;
    border: 1px solid #c7c7c7;
    padding-left: 10px;
    color: #000; }
  .common-header-search button {
    height: 48px;
    width: 20%;
    text-align: center;
    background: #4CAF50;
    color: white; }
  .common-header-search span {
    color: grey;
    margin-left: 100px;
    display: none; }

.nav-main {
  width: 100%;
  background: #4CAF50; }
  .nav-main ul {
    overflow: hidden;
    padding: 10px 0;
    margin-left: 135px; }
    .nav-main ul li {
      float: left;
      margin-right: 54px;
      padding: 0 10px;
      text-align: center;
      border: 1px solid #4CAF50;
      border-radius: 4px; }
      .nav-main ul li a {
        display: block;
        padding: 12px 0;
        width: 67px;
        color: #fff;
        font-size: 16px; }
        .nav-main ul li a:hover {
          padding-bottom: 10px;
          border-bottom: 2px solid #fff; }
      .nav-main ul li:first-child {
        margin-left: 12px; }

.common-header-item {
  padding: 2px 9px;
  float: left;
  color: #fff; }
  .common-header-item:hover {
    color: #fff; }

.index {
  padding-top: 3px;
  padding-left: 6px; }

.index-font {
  padding-top: 5px;
  vertical-align: middle; }

.home-pic {
  background: url("/static/img/common/home.png") no-repeat;
  width: 18px;
  height: 16px; }

.what-campus {
  padding-left: 24px;
  padding-right: 24px; }

.login-or-register {
  padding-left: 17px;
  padding-right: 17px; }

@media (min-width: 1920px) {
  .nav-main ul {
    margin-left: 18%; } }

/*# sourceMappingURL=../maps/common/header.css.map */
